# https://github.com/github/gitignore/blob/master/Node.gitignore
# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Coverage directory used by tools like istanbul
coverage

# node-waf configuration
.lock-wscript

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules
jspm_packages

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# https://github.com/github/gitignore/blob/master/Global/JetBrains.gitignore
*.iml
.idea/
*.iws
/out/
.idea_modules/

test
targets
tutorials
tools
docs
.dockerignore
.eslintrc.js
.flowconfig
.travis.yml
.istanbul.yml
.editorconfig
Dockerfile
